@font-face {
    font-family: 'Kitsch Text';
    src: url('KitschText-Extralight.eot');
    src: local('Kitsch Text Extralight'), local('KitschText-Extralight'),
        url('KitschText-Extralight.eot?#iefix') format('embedded-opentype'),
        url('KitschText-Extralight.woff2') format('woff2'),
        url('KitschText-Extralight.woff') format('woff'),
        url('KitschText-Extralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kitsch';
    src: url('Kitsch-ExtraboldItalic.eot');
    src: local('Kitsch Extrabold Italic'), local('Kitsch-ExtraboldItalic'),
        url('Kitsch-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Kitsch-ExtraboldItalic.woff2') format('woff2'),
        url('Kitsch-ExtraboldItalic.woff') format('woff'),
        url('Kitsch-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

