body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container{
    width: 100%;
    background-color: #171717;
}
.page{
    max-width: 1200px;
    margin: 0 auto;
    height: 1200px;
    min-height: 940px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 80px;
}
@media screen and (max-width:1200px) and (min-width: 600px) {
    .page{
        width: 100%;
    }
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin: 15px 0 0 15px;
    font-family: "Kitsch", Arial, serif;
    font-size: 3em;
    text-align: center;
    color: #1bb673;
    text-shadow: 5px 2px 10px #414d46;
}
.navigation{
    margin: 15px 0 0 0;
}
.nav-list{
    display: flex;
    width: 360px;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.nav-list{
    text-align: center;
}
.nav-link{
    text-decoration: none ;
    font-family: "Kitsch", "Arial", sans-serif;
    font-size: 1.2em;
    font-style: normal;
    color: #0db990;
}
.nav-link:hover{
    color: #0b7259;
    font-size: 1.3em;
}
.nav-link:active{
    color: aqua;
}
.language{
    width: 40px;
    height: 40px;
    margin: 25px 25px 0 0;
    font-family: "Roger Serif", "Tahoma", sans-serif;
    font-size: 1.2em;
    color: #930202;
    background: linear-gradient(45deg, #0b7259, #46e3b3);
    border: solid 3px #e3ab45;
    border-radius: 50%;
}
.language:hover{
    box-shadow: inset 0 0 10px 2px #343003;
    border: solid 3px #c4890f;
}
.language:active{
    color: #46e3b3;
}

.main{
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
    row-gap: 15px;
}
.score-table{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-self: center;
}

.score-title,
.score{
    font-family: "Kitsch Text", "Times New Roman", sans-serif;
    font-size: 2em;
    color: #46e3b3;
}
.score-title{
    width: 100px;
}
.score{
    width: 20px;
    margin-right: 50px;
}
.progress{
    height: 2em;
    width: 100%;
    background-color: #171717;
}

progress::-webkit-progress-value{
    border-radius: 15px;
    background-color: #1ab95c;
}
progress::-webkit-progress-bar{
    border: dotted 2px #dce12b;
    border-radius: 15px;
    background-color: #171717;
}
.quiz-block{
    position: relative;
    display: flex;
    width: 90%;
    height: auto;
    flex-direction: column;
    align-self: center;
    row-gap: 30px;
}
.title-quiz{
    font-family: "Roger Serif", "Times New Roman", serif;
    font-size: 1.5em;
    color: #0b7259;
    align-self: center;
}
.quiz-carousel{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.quiz-question{
    position: relative;
    display: flex;
    width: 100%;
    height: 900px;
    flex-direction: column;
    row-gap: 20px;
}
.player-wrapper{
    position: relative;
    display: grid;
    align-self: center;
    height: 100px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: repeat(2, 50px);
    grid-template-areas:
    "left up right"
    "left down right";
    grid-gap: 5px;
}
.logo-left{
    grid-area: left;
}
.logo-east,
.logo-west{
    width: 90px;
    height: 90px;
}
.player-top{
    grid-area: up;
}
.player-down{
    grid-area: down;
}
.player-top,
.player-down{
    display: flex;
    padding: 5px;
    flex-direction: row;
    column-gap: 15px;
    border: solid 1px #46e3b3;
    border-radius: 5px;
    background-color: #aeecea;
}
.logo-right{
    grid-area: right;
}
.logo-left,
.logo-right{
    padding: 5px;
    border: dashed 1px #46e3b3;
    border-radius: 5px;
}
.player-down,
.logo-right{
    visibility: hidden;
    opacity: 0;
}
.turn-wrapper,
.volume-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3px;
}
.volume-wrapper{
    width: 150px;
}

.turn,
.mute{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.turn{
    border-radius: 50%;
}
.timer,
.duration{
    width: 40px;
    align-self: center;
}
.title-volume{
    width: 20px;
    align-self: center;
}
.timer,
.duration,
.title-volume{
    font-family: "Roger T", "Times New Roman", sans-serif;
    font-size: 1em;
    color: #04231d;
}
.seek,
.volume{
    align-self: center;
    appearance: none;
    height: 5px;
    border: none;
    border-radius: 10px;
}
.seek:hover,
.volume:hover{
    cursor: pointer;
}
.seek::-webkit-slider-runnable-track,
.volume::-webkit-slider-runnable-track{
    height: 5px;
    background-color: #879a99;
    border: none;
    border-radius: 10px;
}
.seek::-webkit-slider-thumb{
    appearance: none;
    width: 0;
    height: 0;
    margin-top: -4.1px;
    border-top: 7px solid transparent;
    border-left: 14px solid #540ae8;
    border-bottom: 7px solid transparent;
}

.volume::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width: 5px;
    margin-top: -8px;
    background-color: #4e1ed5;
    border: solid 1px #171717;
    border-radius: 5px;
}
.volume{
    width: 70px;
}

.quiz-text{
    padding: 5px;
    align-self: center;
    font-family: "Roger Serif", "Times New Roman", sans-serif;
    font-size: 1.2em;
    color: #0b7259;
    border: dashed 1px #dce12b;
    border-radius: 10px;
}
.right-answer{
    align-self: center;
    font-family: "Roger Serif", "Times New Roman", serif;
    font-size: 1.5em;
    color: #309b04;
}
.answer{
    align-self: center;
    height: 350px;
}
.list-answer{
    display: flex;
    padding: 0;
    list-style: none;
    flex-direction: column;
    row-gap: 20px;
}
.answer-item{
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: stretch;
    column-gap: 10px;
    border: dotted 1px #dce12b;
    border-radius: 5px;
}
.wrong{
    background-color: #eaa8a8;
}
.right{
    background-color: #c6e5bc;
}
.check{
    align-self: center;
    width: 15px;
    height: 15px;
}
.text-answer{
    align-self: center;
    font-family: "Roger Serif", "Times New Roman", sans-serif;
    font-size: 1.2em;
    color: #0b7259;
}
.next-question{
    width: 300px;
    height: 40px;
    align-self: center;
    font-family: "Roger Serif", "Times New Roman", serif;
    font-size: 1.6em;
    color: #dce12b;
    background: linear-gradient(45deg, #46e3b3, #0b7259);
    border: none;
    border-radius: 10px;
}

.inactive{
    width: 300px;
    height: 40px;
    align-self: center;
    font-family: "Roger Serif", "Times New Roman", serif;
    font-size: 1.6em;
    color: #676746;
    background: linear-gradient(45deg, #94a4a0, #68756f);
    border: none;
    border-radius: 10px;
}
.next-question:hover{
    color: #c4890f;
}
.next-question:active{
    border: solid 2px #075a6e;
    box-shadow: inset 2px 2px 3px #278a61;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.git{
    display: flex;
    width: 280px;
    height: 50px;
    margin-left: 30px ;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.git-logo{
    width: 50px;
    height: 50px;
}
.text-git{
    font-family: "Roger T", "Times New Roman", sans-serif;
    font-size: 1.2em;
    color: #46e3b3;
}
.school{
    width: 55px;
    height: 55px;
    margin-right: 30px;
    align-items: center;
}

@media screen and (max-width: 800px) and (min-width: 720px) {
    .page{
        width: 100%;
        height: 1400px;
    }
    .player-top,
    .player-down{
        flex-direction: column;
    }
    .quiz-question{
        height: 1100px;
    }
    .player-wrapper{
        height: 200px;
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: repeat(2, 100px);
        grid-template-areas: "left up up"
                             "down down right";
    }
    .turn-wrapper{
        align-self: center;
    }
    .volume-wrapper{
        align-self: center;
    }

}
@media screen and (max-width: 720px) and (min-width: 460px){
    .page{
        height: 1800px;
        grid-template-rows: 350px 1fr 80px;
    }
    .header{
        flex-direction: column;
    }
    .logo{
        margin: 10px 0 0 0;
    }
    .navigation{
        margin: 0;
        align-self: center;
    }
    .nav-list{
        padding: 0;
        flex-direction: column;
        align-content: center;
        row-gap: 25px;
    }
    .language{
        align-self: center;
        margin: 0 0 35px 0;
    }
    .player-top,
    .player-down{
        flex-direction: column;
    }
    .quiz-question{
        height: 1200px;
    }
    .player-wrapper{
        height: 200px;
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: repeat(2, 100px);
        grid-template-areas: "left up up"
                             "down down right";
    }
    .turn-wrapper{
        align-self: center;
    }
    .volume-wrapper{
        align-self: center;
    }
}
@media screen and (max-width: 459px) and (min-width: 360px){
    .page{
        height: 2400px;
        grid-template-rows: 350px 1fr 200px;
    }
    .header{
        flex-direction: column;
    }
    .logo{
        margin: 10px 0 0 0;
    }
    .navigation{
        margin: 0;
        align-self: center;
    }
    .nav-list{
        padding: 0;
        flex-direction: column;
        align-content: center;
        row-gap: 25px;
    }
    .language{
        align-self: center;
        margin: 0 0 35px 0;
    }
    .player-top,
    .player-down{
        flex-direction: column;
    }
    .quiz-question{
        height: 1700px;
    }
    .player-wrapper{
        width: 90%;
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        grid-template-areas: "left"
                             "up"
                             "right"
                             "down";
    }
    .player-top,
    .player-down{
        flex-direction: column;
        row-gap: 10px;
    }
    .logo-right,
    .logo-left{
        justify-self: center;
    }
    .turn-wrapper{
        align-self: center;
    }
    .volume-wrapper{
        align-self: center;
    }
    .answer{
        height: 400px;
    }
    .footer{
        flex-direction: column;
        row-gap: 30px;
    }
    .git{
        margin: 0;
        align-self: center;
        flex-direction: column;
        row-gap: 10px;
    }
    .school{
        margin: 0 15px 10px 0;
        align-self: center;
    }
}