@import "../../assets/font/Roger/stylesheet.css";
@import "../../assets/font/Kitsch/stylesheet.css";

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container{
    width: 100%;
    background-color: #171717;
}
.page{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    min-height: 940px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 60px;
}
@media screen and (max-width:1200px) and (min-width: 600px) {
    .page{
        width: 100%;
    }
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin: 15px 0 0 15px;
    font-family: "Kitsch", Arial, serif;
    font-size: 3em;
    text-align: center;
    color: #1bb673;
    text-shadow: 5px 2px 10px #414d46;
}
.navigation{
    margin: 15px 0 0 0;
}
.nav-list{
    display: flex;
    width: 360px;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.nav-list{
    text-align: center;
}
.nav-link{
    text-decoration: none ;
    font-family: "Kitsch", "Arial", sans-serif;
    font-size: 1.2em;
    font-style: normal;
    color: #0db990;
    cursor: pointer;
}

.nav-link:hover{
    color: #0b7259;
    font-size: 1.3em;
}
.nav-link:active{
    color: aqua;
}
.language{
    width: 40px;
    height: 40px;
    margin: 25px 25px 0 0;
    font-family: "Roger Serif", "Tahoma", sans-serif;
    font-size: 1.3em;
    color: #930202;
    background: linear-gradient(45deg, #0b7259, #46e3b3);
    border: solid 3px #e3ab45;
    border-radius: 50%;
    cursor: pointer;
}
.language:hover{
    box-shadow: inset 0 0 10px 2px #343003;
    border: solid 3px #c4890f;
}
.language:active{
    color: #46e3b3;
}
.main{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.background{
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}
.intro{
    margin: 30px auto 40px;
    text-align: center;
}
.text-intro{
    font-family: "Roger T", "Times New Roman", sans-serif;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    color: #0c6c56;
}
.start-quiz{
    margin: 0 auto;
    width: 320px;
    height: 60px;
    font-family: "Roger Serif", "Times New Roman", serif;
    font-size: 2em;
    letter-spacing: 1px;
    color: #023a2a;
    background: linear-gradient(45deg, #0b7259, #46e3b3);
    border: solid 2px #c4890f;
    border-radius: 5px;
    cursor: pointer;
}
.start-quiz:hover{
    color: #dce12b;
}
.start-quiz:active{
    color: #7e0218;
    box-shadow: inset 0 0 10px 2px #343003;
    border: solid 2px #c4890f;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.git{
    display: flex;
    width: 300px;
    height: 50px;
    margin-left: 30px ;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.git-logo{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.text-git{
    font-family: "Roger T", "Times New Roman", sans-serif;
    font-size: 1.2em;
    color: #46e3b3;
}
.school{
    width: 55px;
    height: 55px;
    margin-right: 30px;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .page{
        width: 100%;
    }
    .intro{
        width: 90%;
    }
}
@media screen and (max-width: 767px) and (min-width: 660px) {
    .page{
        min-height: 700px;
    }
    .logo{
        margin: 25px 0 0 15px;
        font-size: 2em;
    }
    .intro{
        width: 90%;
    }
    .text-intro{
        font-size: 1em;
    }
}
@media screen and (max-width: 660px) and (min-width: 320px){
    .page{
        width: 100%;
        height: 1250px;
        grid-template-rows: 160px 1fr 60px;
    }
    .header{
        flex-direction: column;
    }
    .logo{
        order: 0;
        margin: 0;
        align-self: center;
    }
    .navigation{
        order: 2;
        margin: 0;
        align-self: center;
    }
    .nav-list{
        width: 100%;
        padding: 0;
    }
    .language{
        order: 1;
        margin: 0;
        align-self: center;
    }
    .intro{
        width: 90%;
    }
}
@media  screen and (max-width: 419px) and (min-width: 320px) {
    .page{
        height: 1750px;
        grid-template-rows: 300px 1fr 200px;
    }
    .logo{
        order: 2;
        margin: 0 0 20px 0;
        align-self: center;
    }
    .navigation{
        order: 0;
        height: 150px;
        margin: 0;
        align-self: center;
    }
    .nav-list{
        flex-direction: column;
        row-gap: 20px;
    }
    .language{
        order: 1;
        margin: 0;
        align-self: center;
    }
    .footer{
        flex-direction: column;
    }
    .git{
        margin: 0;
        flex-direction: column;
        align-self: center;
        row-gap: 10px;
    }
    .school{
        margin: 0 0 25px 0;
        align-self: center;
    }
}
